@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body{
  background-color: #f1f5f8;
  font-family: 'Montserrat', sans-serif;
}

.logo{
  width: 40px;
  height: 40px;
}

@media (max-width: 991px) {
  small{
    font-size: 0.6rem;
  }
}

@media (max-width: 768px) {
  small{
    font-size: 0.8rem;
  }
}