@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body{
  background-color: #f1f5f8;
  font-family: 'Montserrat', sans-serif;
}

.logo{
  width: 40px;
  height: 40px;
}

ul.pagination{
  display: inline-block;
}

ul.pagination li{
  display: inline;
}

ul.pagination li a{
  display: inline;
  font-size: 1.5rem;
  padding: 0 10px;
  border: 1px solid #0275d8;
  margin: 0 5px;
  background-color: #fff;
  color: #0275d8;
  transition: all 400ms;
}

ul.pagination li a:hover{
  cursor: pointer;
  background-color: #0275d8;
  color: #fff;
  transition: all 400ms;
}

#pagination{
  margin-top: 20px;
  text-align: center;
}

ul.pagination li a.active{
  background-color: #0275d8;
  color: #fff;
}

a{
  text-decoration: none;
}

@media (max-width: 991px) {
  small{
    font-size: 0.6rem;
  }
}

@media (max-width: 768px) {
  small{
    font-size: 0.8rem;
  }
}