@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Open Sans", sans-serif;
  background: #f1f5f8;
  color: #102a42;
  line-height: 1.5;
  font-size: 0.875rem;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}

.sidebar-toggle {
  position: fixed;
  top: 2rem;
  right: 3rem;
  font-size: 2rem;
  background: transparent;
  border-color: transparent;
  color: #49a6e9;
  cursor: pointer;
}

.sidebar-toggle:hover {
  color: #8bcbf9;
}

.top-logo{
	position: fixed;
	top: 2rem;
	left: 1.5rem;
	font-size: 2rem;
}

.sidebar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 3rem;
}

.close-btn {
  font-size: 1.75rem;
  background: transparent;
  border-color: transparent;
  color: #49a6e9;
  transition: all 0.3s linear;
  cursor: pointer;
  color: #bb2525;
}

.close-btn:hover {
  color: #6be675;
}

.logo {
  justify-self: center;
  height: 40px;
}

.links a {
  display: block;
  font-size: 1.5rem;
  text-transform: capitalize;
  padding: 1rem 1.5rem;
  color: #617d98;
  transition: all 0.3s linear;
}

.links a:hover {
  background: #a5d5f8;
  color: #49a6e9;
  padding-left: 1.75rem;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  display: grid;
  grid-template-rows: auto 1fr auto;
  row-gap: 1rem;
  box-shadow: #bb2525;
  transition: all 0.3s linear;
  transform: translate(-100%);
}

.show-sidebar {
  transform: translate(0);
}

@media screen and (min-width: 676px) {
  .sidebar {
    width: 400px;
  }
}

.container{
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

h1{
	text-transform: uppercase;
	font-size: 4rem;
	font-weight: 700;
	letter-spacing: 10px;
}

p{
	font-size: 1.2rem;
}

footer {
    clear: both;
    position: relative;
    height: 40px;
    margin-top: -40px;
    padding-top: 10px;
}