body {
  background: #f1f5f8;
}

.logo{
	width: 40px;
	height: 40px;
}

.container{
	height: 100vh;
}

.tabs {
	/* Center */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);

  width: 700px;
  height: 300px;
  background: #fff;
  padding: 10px 20px;
  overflow: hidden;
  box-shadow: 0 20px 25px #ccc;
}

.tabs .tab-header {
  height: 60px;
  display: flex;
  align-items: center;
}

.tabs .tab-header > div {
  width: calc(100% / 4);
  text-align: center;
  color: #888;
  font-weight: 600;
  cursor: pointer;
  font-size: 1.2rem;
  text-transform: uppercase;
  outline: none;
}

.tabs .tab-header > div.active {
  color: #0275d8; /* or #00acee */
}

h1 {
  color: #0275d8;
  font-size: 2rem;
}

.tabs .tab-indicator {
  position: relative;
  width: calc(100% / 4);
  height: 5px;
  background: #0275d8; /* or #00acee */
  left: 0px;
  border-radius: 5px;
  transition: all 500ms ease-in-out;
}

.tabs .tab-body {
  position: relative;
  height: calc(100% - 60px);
  padding: 5px;
}

.tabs .tab-body > div {
  position: absolute;
  top: -200%;
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 500ms ease-in-out 50ms,
    transform 500ms ease-in-out 50ms;
}

.tabs .tab-body > div.active {
  top: 20px;
  opacity: 1;
  transform: scale(1);
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    height: 50px;
    padding-top: 10px;
    margin-top: 10px;
}

@media screen and (max-width: 736px){
	.tabs{
		width: 600px;
	}

	.tabs .tab-header > div{
		font-weight: 600;
	}

	h1{
		font-size: 1.7rem;
	}
}

@media screen and (max-width: 635px){
	.tabs{
		width: 500px;
		height: 250px;
	}

	.tabs .tab-header > div{
		font-weight: 500;
		font-size: 1rem;
	}
}

@media screen and (max-width: 502px){
	.tabs{
		width: 350px;
		height: 350px;
	}

	.tabs .tab-header > div{
		font-weight: 400;
		font-size: 1rem;
	}
}