@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400&display=swap');

*{
	margin: 0;
	padding: 0;
}

.logo{
	width: 40px;
	height: 40px;
}

body{
	background-color: lightgray;
	font-family: 'Montserrat', sans-serif;
}

.container{
	height: 80vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.limit{
	max-height: 50vh;
	overflow-y: auto;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}